```
# Build artifacts
bin/
obj/
*.exe
*.dll
*.pdb
*.nupkg
*.userprefs
*.cache
*.suo
*.user
*.aps
*.ilk
*.iobj
*.ipdb
*.tlog
*.wrk
*.layoutpo
*.metaproj
*.builds
*.buildx
*.cache
*.gpucache
*.compiled
*.gch
*.pch
*.o
*.obj
*.lib
*.a
*.so
*.dylib
*.jar
*.war
*.ear
*.class
*.dSYM/
*.stackdump
*.pidb
*.userprefs
*.sln.docstates
*.userosscache
*.suo
*.user
*.aps
*.ilk
*.iobj
*.ipdb
*.tlog
*.wrk
*.layoutpo
*.metaproj
*.builds
*.buildx
*.cache
*.gpucache
*.compiled
*.gch
*.pch
Debug/
Release/
x64/
x86/
build/
dist/
out/
target/

# Dependencies
node_modules/
packages/
lib/
external/
vendor/
bower_components/
jspm_packages/
.npm/
.yarn/
.pip/
.venv/
venv/
env/
ENV/
.conda/
conda-meta/
.mypy_cache/
.pytest_cache/
.coverage
coverage/
htmlcov/
.tox/
.hypothesis/
.eggs/
*.egg-info/
.installed.cfg
.Python
.python-version
.pyre/
.pytype/
__pycache__/
*.py[cod]
*$py.class
*$pycache$*
.pytest_cache/
.hypothesis/
cover/
instance/
.webassets-cache
.scrapy
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.env.local
.env.dev
.env.test
.env.prod
.env.backup
.env.save
*.env
.env.*
.env-local
.env-test
.env-production
.env-staging
.env-development
.env-dev
.env-prod
.env-build
.envrc
*.swp
*.swo
*~
.project
.idea/
.vscode/
.vs/
*.tmproj
*.sublime-project
*.sublime-workspace
nbproject/
.settings/
.cache/
.tmp/
.temp/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp/
.pnp.js
.yalc/
yalc.lock
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
*.rbc
*.rbo
*.rbx
*.rbxi
*.rbxm
*.rbxl
*.rbxlx
*.rbxmx
*.rbxlm
*.rbxam
*.rbxas
*.rbxap
*.rbxac
*.rbxau
*.rbxav
*.rbxaw
*.rbxax
*.rbxay
*.rbxaz
*.rbxba
*.rbxbb
*.rbxbc
*.rbxbd
*.rbxbe
*.rbxbf
*.rbxbg
*.rbxbh
*.rbxbi
*.rbxbj
*.rbxbk
*.rbxbl
*.rbxbm
*.rbxbn
*.rbxbo
*.rbxbp
*.rbxbq
*.rbxbr
*.rbxbs
*.rbxbt
*.rbxbu
*.rbxbv
*.rbxbw
*.rbxbx
*.rbxby
*.rbxbz
*.rbxca
*.rbxcb
*.rbxcc
*.rbxcd
*.rbxce
*.rbxcf
*.rbxcg
*.rbxch
*.rbxci
*.rbxcj
*.rbxck
*.rbxcl
*.rbxcm
*.rbxcn
*.rbxco
*.rbxcp
*.rbxcq
*.rbxcr
*.rbxcs
*.rbxct
*.rbxcu
*.rbxcv
*.rbxcw
*.rbxcx
*.rbxcy
*.rbxcz
*.rbxda
*.rbxdb
*.rbxdc
*.rbxdd
*.rbxde
*.rbxdf
*.rbxdg
*.rbxdh
*.rbxdi
*.rbxdj
*.rbxdk
*.rbxdl
*.rbxdm
*.rbxdn
*.rbxdo
*.rbxdp
*.rbxdq
*.rbxdr
*.rbxds
*.rbxdt
*.rbxdu
*.rbxdv
*.rbxdw
*.rbxdx
*.rbxdy
*.rbxdz
*.rbxea
*.rbxeb
*.rbxec
*.rbxed
*.rbxee
*.rbxef
*.rbxeg
*.rbxeh
*.rbxei
*.rbxej
*.rbxek
*.rbxel
*.rbxem
*.rbxen
*.rbxeo
*.rbxep
*.rbxeq
*.rbxer
*.rbxes
*.rbxet
*.rbxeu
*.rbxev
*.rbxew
*.rbxex
*.rbxey
*.rbxez
*.rbxfa
*.rbxfb
*.rbxfc
*.rbxfd
*.rbxfe
*.rbxff
*.rbxfg
*.rbxfh
*.rbxfi
*.rbxfj
*.rbxfk
*.rbxfl
*.rbxfm
*.rbxfn
*.rbxfo
*.rbxfp
*.rbxfq
*.rbxfr
*.rbxfs
*.rbxft
*.rbxfu
*.rbxfv
*.rbxfw
*.rbxfx
*.rbxfy
*.rbxfz
*.rbxga
*.rbxgb
*.rbxgc
*.rbxgd
*.rbxge
*.rbxgf
*.rbxgg
*.rbxgh
*.rbxgi
*.rbxgj
*.rbxgk
*.rbxgl
*.rbxgm
*.rbxgn
*.rbxgo
*.rbxgp
*.rbxgq
*.rbxgr
*.rbxgs
*.rbxgt
*.rbxgu
*.rbxgv
*.rbxgw
*.rbxgx
*.rbxgy
*.rbxgz
*.rbxha
*.rbxhb
*.rbxhc
*.rbxhd
*.rbxhe
*.rbxhf
*.rbxhg
*.rbxhh
*.rbxhi
*.rbxhj
*.rbxhk
*.rbxhl
*.rbxhm
*.rbxhn
*.rbxho
*.rbxhp
*.rbxhq
*.rbxhr
*.rbxhs
*.rbxht
*.rbxhu
*.rbxhv
*.rbxhw
*.rbxhx
*.rbxhy
*.rbxhz
*.rbxia
*.rbxib
*.rbxic
*.rbxid
*.rbxie
*.rbxif
*.rbxig
*.rbxih
*.rbxii
*.rbxij
*.rbxik
*.rbxil
*.rbxim
*.rbxin
*.rbxio
*.rbxip
*.rbxiq
*.rbxir
*.rbxis
*.rbxit
*.rbxiu
*.rbxiv
*.rbxiw
*.rbxix
*.rbxiy
*.rbxiz
*.rbxja
*.rbxjb
*.rbxjc
*.rbxjd
*.rbxje
*.rbxjf
*.rbxjg
*.rbxjh
*.rbxji
*.rbxjj
*.rbxjk
*.rbxjl
*.rbxjm
*.rbxjn
*.rbxjo
*.rbxjp
*.rbxjq
*.rbxjr
*.rbxjs
*.rbxjt
*.rbxju
*.rbxjv
*.rbxjw
*.rbxjx
*.rbxjy
*.rbxjz
*.rbxka
*.rbxkb
*.rbxkc
*.rbxkd
*.rbxke
*.rbxkf
*.rbxkg
*.rbxkh
*.rbxki
*.rbxkj
*.rbxkk
*.rbxkl
*.rbxkm
*.rbxkn
*.rbxko
*.rbxkp
*.rbxkq
*.rbxkr
*.rbxks
*.rbxkt
*.rbxku
*.rbxkv
*.rbxkw
*.rbxkx
*.rbxky
*.rbxkz
*.rbxla
*.rbxlb
*.rbxlc
*.rbxld
*.rbxle
*.rbxlf
*.rbxlg
*.rbxlh
*.rbxli
*.rbxlj
*.rbxlk
*.rbxll
*.rbxlm
*.rbxln
*.rbxlo
*.rbxlp
*.rbxlq
*.rbxlr
*.rbxls
*.rbxlt
*.rbxlu
*.rbxlv
*.rbxlw
*.rbxlx
*.rbxly
*.rbxlz
*.rbxma
*.rbxmb
*.rbxmc
*.rbxmd
*.rbxme
*.rbxmf
*.rbxmg
*.rbxmh
*.rbxmi
*.rbxmj
*.rbxmk
*.rbxml
*.rbxmm
*.rbxmn
*.rbxmo
*.rbxmp
*.rbxmq
*.rbxmr
*.rbxms
*.rbxmt
*.rbxmu
*.rbxmv
*.rbxmw
*.rbxmx
*.rbxmy
*.rbxmz
*.rbxna
*.rbxnb
*.rbxnc
*.rbxnd
*.rbxne
*.rbxnf
*.rbxng
*.rbxnh
*.rbxni
*.rbxnj
*.rbxnk
*.rbxnl
*.rbxnm
*.rbxnn
*.rbxno
*.rbxnp
*.rbxnq
*.rbxnr
*.rbxns
*.rbxnt
*.rbxnu
*.rbxnv
*.rbxnw
*.rbxnx
*.rbxny
*.rbxnz
*.rbxoa
*.rbxob
*.rbxoc
*.rbxod
*.rbxoe
*.rbxof
*.rbxog
*.rbxoh
*.rbxoi
*.rbxoj
*.rbxok
*.rbxol
*.rbxom
*.rbxon
*.rbxoo
*.rbxop
*.rbxoq
*.rbxor
*.rbxos
*.rbxot
*.rbxou
*.rbxov
*.rbxow
*.rbxox
*.rbxoy
*.rbxoz
*.rbxpa
*.rbxpb
*.rbxpc
*.rbxpd
*.rbxpe
*.rbxpf
*.rbxpg
*.rbxph
*.rbxpi
*.rbxpj
*.rbxpk
*.rbxpl
*.rbxpm
*.rbxpn
*.rbxpo
*.rbxpp
*.rbxpq
*.rbxpr
*.rbxps
*.rbxpt
*.rbxpu
*.rbxpv
*.rbxpw
*.rbxpx
*.rbxpy
*.rbxpz
*.rbxqa
*.rbxqb
*.rbxqc
*.rbxqd
*.rbxqe
*.rbxqf
*.rbxqg
*.rbxqh
*.rbxqi
*.rbxqj
*.rbxqk
*.rbxql
*.rbxqm
*.rbxqn
*.rbxqo
*.rbxqp
*.rbxqq
*.rbxqr
*.rbxqs
*.rbxqt
*.rbxqu
*.rbxqv
*.rbxqw
*.rbxqx
*.rbxqy
*.rbxqz
*.rbxra
*.rbxrb
*.rbxrc
*.rbxrd
*.rbxre
*.rbxrf
*.rbxrg
*.rbxrh
*.rbxri
*.rbxrj
*.rbxrk
*.rbxrl
*.rbxrm
*.rbxrn
*.rbxro
*.rbxrp
*.rbxrq
*.rbxrr
*.rbxrs
*.rbxrt
*.rbxru
*.rbxrv
*.rbxrw
*.rbxrx
*.rbxry
*.rbxrz
*.rbxsa
*.rbxsb
*.rbxsc
*.rbxsd
*.rbxse
*.rbxsf
*.rbxsg
*.rbxsh
*.rbxsi
*.rbxsj
*.rbxsk
*.rbxsl
*.rbxsm
*.rbxsn
*.rbxso
*.rbxsp
*.rbxsq
*.rbxsr
*.rbxss
*.rbxst
*.rbxsu
*.rbxsv
*.rbxsw
*.rbxsx
*.rbxsy
*.rbxsz
*.rbxta
*.rbxtb
*.rbxtc
*.rbxtd
*.rbxte
*.rbxtf
*.rbxtg
*.rbxth
*.rbxti
*.rbxtj
*.rbxtk
*.rbxtl
*.rbxtm
*.rbxtn
*.rbxto
*.rbxtp
*.rbxtq
*.rbxtr
*.rbxts
*.rbxtt
*.rbxtu
*.rbxtv
*.rbxtw
*.rbxtx
*.rbxty
*.rbxtz
*.rbxua
*.rbxub
*.rbxuc
*.rbxud
*.rbxue
*.rbxuf
*.rbxug
*.rbxuh
*.rbxui
*.rbxuj
*.rbxuk
*.rbxul
*.rbxum
*.rbxun
*.rbxuo
*.rbxup
*.rbxuq
*.rbxur
*.rbxus
*.rbxut
*.rbxuu
*.rbxuv
*.rbxuw
*.rbxux
*.rbxuy
*.rbxuz
*.rbxva
*.rbxvb
*.rbxvc
*.rbxvd
*.rbxve
*.rbxvf
*.rbxvg
*.rbxvh
*.rbxvi
*.rbxvj
*.rbxvk
*.rbxvl
*.rbxvm
*.rbxvn
*.rbxvo
*.rbxvp
*.rbxvq
*.rbxvr
*.rbxvs
*.rbxvt
*.rbxvu
*.rbxvv
*.rbxvw
*.rbxvx
*.rbxvy
*.rbxvz
*.rbxwa
*.rbxwb
*.rbxwc
*.rbxwd
*.rbxwe
*.rbxwf
*.rbxwg
*.rbxwh
*.rbxwi
*.rbxwj
*.rbxwk
*.rbxwl
*.rbxwm
*.rbxwn
*.rbxwo
*.rbxwp
*.rbxwq
*.rbxwr
*.rbxws
*.rbxwt
*.rbxwu
*.rbxwv
*.rbxww
*.rbxwx
*.rbxwy
*.rbxwz
*.rbxxa
*.rbxxb
*.rbxxc
*.rbxxd
*.rbxxe
*.rbxxf
*.rbxxg
*.rbxxh
*.rbxxi
*.rbxxj
*.rbxxk
*.rbxxl
*.rbxxm
*.rbxxn
*.rbxxo
*.rbxxp
*.rbxxq
*.rbxxr
*.rbxxs
*.rbxxt
*.rbxxu
*.rbxxv
*.rbxxw
*.rbxxx
*.rbxxy
*.rbxxz
*.rbxya
*.rbxyb
*.rbxyc
*.rbxyd
*.rbxye
*.rbxyf
*.rbxyg
*.rbxyh
*.rbxyi
*.rbxyj
*.rbxyk
*.rbxyl
*.rbxym
*.rbxyn
*.rbxyo
*.rbxyp
*.rbxyq
*.rbxyr
*.rbxys
*.rbxyt
*.rbxyu
*.rbxyv
*.rbxyw
*.rbxyx
*.rbxyy
*.rbxyz
*.rbxza
*.rbxzb
*.rbxzc
*.rbxzd
*.rbxze
*.rbxzf
*.rbxzg
*.rbxzh
*.rbxzi
*.rbxzj
*.rbxzk
*.rbxzl
*.rbxzm
*.rbxzn
*.rbxzo
*.rbxzp
*.rbxzq
*.rbxzr
*.rbxzs
*.rbxzt
*.rbxzu
*.rbxzv
*.rbxzw
*.rbxzx
*.rbxzy
*.rbxzz

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
Icon?
VolumeIcon.icns
*.nib
*~.nib
localization/
*.localization
*.bak
*.tmp
*.temp
*.old
*.orig
*.save
*.swp
*.swo
*~
.directory
.gitattributes
.gitignore
.gitmodules
*.git
.git/
CVS/
.cvsignore
.svn/
.svnignore
.hg/
.hgignore
.hgsub
.hgsubstate
.hgtags
.bzr/
.bzrignore
*.bzr
*.bzrmarks
.darcs/
darcs-hash-gen
*.darcs
*.darcs-temp-mail
*.darcs-backup_*
*.patch
*.rej
*.orig
*.bak
*.swp
*.swo
*~
*#
.\#*
*.#
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.po
*~
*.retry
*.orig
*.rej
*.bak
*.tmp
*.temp
*.old
*.orig
*.save
*.swp
*.swo
*~
.directory
.gitattributes
.gitignore
.gitmodules
*.git
.git/
CVS/
.cvsignore
.svn/
.svnignore
.hg/
.hgignore
.hgsub
.hgsubstate
.hgtags
.bzr/
.bzrignore
*.bzr
*.bzrmarks
.darcs/
darcs-hash-gen
*.darcs
*.darcs-temp-mail
*.darcs-backup_*
*.patch
*.rej
*.orig
*.bak
*.swp
*.swo
*~
*#
.\#*
*.#
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.po
*~
*.retry
*.orig
*.rej
*.bak
*.tmp
*.temp
*.old
*.orig
*.save
*.swp
*.swo
*~
.directory
.gitattributes
.gitignore
.gitmodules
*.git
.git/
CVS/
.cvsignore
.svn/
.svnignore
.hg/
.hgignore
.hgsub
.hgsubstate
.hgtags
.bzr/
.bzrignore
*.bzr
*.bzrmarks
.darcs/
darcs-hash-gen
*.darcs
*.darcs-temp-mail
*.darcs-backup_*
*.patch
*.rej
*.orig
*.bak
*.swp
*.swo
*~
*#
.\#*
*.#
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.po
*~
*.retry
*.orig
*.rej
*.bak
*.tmp
*.temp
*.old
*.orig
*.save
*.swp
*.swo
*~
```